You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [ ]:
each_cost = 1.49
packs = 9
cash_given = 20
change = cash_given - (each_cost*packs)
print(change)

6.59

Print binary representation of number 17

In [ ]:
number = 17
print(format(number,'b'))

10001

f-string

In [ ]:
num_fruits=10
num_veggies=5
print(f"I eat {num_veggies} veggies and {num_fruits} daily")

I eat 5 veggies and 10 daily

Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [ ]:
exp = [2200,2350,2600,2130,2190]
#1
feb_more = exp[1]-exp[0]
print(feb_more)
#2 total expences in first quater
q1 = exp[0]+exp[1]+exp[2]
print(q1)
#3
2000 in exp
#4
exp.append(1980)
#5
exp[3] = exp[3]-200
exp

150
7150

[2200, 2350, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
heros=['spider man','thor','hulk','iron man','captain america']
#1
print(len(heros))
#2
heros.append('black panther')
heros
#3
heros.remove('black panther')
heros.insert(3,'black panther')
heros
#4
heros[1:3] = ['doctor strange']
heros
heros.sort()
heros

5

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

Using following list of cities per country,
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
Write a program that asks user to enter a city name and it should tell which country the city belongs to
Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

In [ ]:
# india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"] 
bangladesh = ["dhaka", "khulna", "rangpur"] 

#1
# city = input()
# if city in india:
#   print("This city is in India")
# elif city in pakistan:
#   print("pakistan")
# elif city in bangladesh:
#   print("bangladesh")
# else:
#   print("City not found")

#2
city1 = input("Enter first city")
city2 = input("Enter second city")

if city1 and city2 in india:
  print("Both are in India")

Print square of all numbers between 1 to 10 except even numbers

In [ ]:
for i in range(11):
  if i%2==0:
    continue
  else:
    print(i**2)

1
9
25
49
81