You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [ ]:
each_cost = 1.49
packs = 9
cash_given = 20
change = cash_given - (each_cost*packs)
print(change)

6.59

Print binary representation of number 17

In [ ]:
number = 17
print(format(number,'b'))

10001

f-string

In [ ]:
num_fruits=10
num_veggies=5
print(f"I eat {num_veggies} veggies and {num_fruits} daily")

I eat 5 veggies and 10 daily

Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [ ]:
exp = [2200,2350,2600,2130,2190]
#1
feb_more = exp[1]-exp[0]
print(feb_more)
#2 total expences in first quater
q1 = exp[0]+exp[1]+exp[2]
print(q1)
#3
2000 in exp
#4
exp.append(1980)
#5
exp[3] = exp[3]-200
exp

150
7150

[2200, 2350, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
heros=['spider man','thor','hulk','iron man','captain america']
#1
print(len(heros))
#2
heros.append('black panther')
heros
#3
heros.remove('black panther')
heros.insert(3,'black panther')
heros
#4
heros[1:3] = ['doctor strange']
heros
heros.sort()
heros

5

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

Using following list of cities per country,
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
Write a program that asks user to enter a city name and it should tell which country the city belongs to
Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

In [ ]:
# india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"] 
bangladesh = ["dhaka", "khulna", "rangpur"] 

#1
# city = input()
# if city in india:
#   print("This city is in India")
# elif city in pakistan:
#   print("pakistan")
# elif city in bangladesh:
#   print("bangladesh")
# else:
#   print("City not found")

#2
city1 = input("Enter first city")
city2 = input("Enter second city")

if city1 and city2 in india:
  print("Both are in India")

Print square of all numbers between 1 to 10 except even numbers

In [ ]:
for i in range(11):
  if i%2==0:
    continue
  else:
    print(i**2)

1
9
25
49
81

exception handeling

In [7]:
a = int(input("First number"))
b = int(input("Second number"))
c = None
try:
    c= a/b
except Exception as e:
    print("exception occured")
print(c)

First number10
Second number0
exception occured
None

In [8]:
a = int(input("First number"))
b = int(input("Second number"))
c = None
try:
    c= a/b
except Exception as e:
    print("",type(e).__name__)
print(c)

First number10
Second number0
 ZeroDivisionError
None

Class and self practice

Create a sample class named Employee with two attributes id and name
employee :
    id
    name
object initializes id and name dynamically for every Employee object created.

emp = Employee(1, "coder")
Use del property to first delete id attribute and then the entire object

In [18]:
class Employee:
    def __init__(self,id_no,n):
        self.id = id_no
        self.name = n

e1 = Employee(1,"Jay")
print(e1.id)
print(e1.name)

del e1.id
try:
    print(e1.id)
except AttributeError:
    print("The attribute you are looking for does not exist")

del e1
print(e1)

1
Jay
The attribute you are looking for does not exist

NameError: name 'e1' is not defined

Inheritance
Real Life Example :

1.Create multiple inheritance on teacher,student and youtuber.
Q. if we have created teacher and now one student joins master degree with becoming teacher then what??

Ans :  just make subclass from  teacher so that student will become teacher
2.Now student is teacher as well as youtuber then what???
-just use multiple inheritance for these three relations

In [23]:
class Teacher:
    def __init__(self):
        print("I am teacher")
class Student:
    def __init__(self):
        print("I am Student")
class Youtuber:
    def __init__(self):
        print("I am Youtubeer")
class Person(Teacher,Student,Youtuber):
    def __init(self):
        print("I am a person")
p = Person()

I am teacher

1.Create an iterator for fibonacci series in such a way that each next returns the next element from fibonacci series.
2.The iterator should stop when it reaches a limit defined in the constructor.

In [30]:
class fibonacci:
    def __init__(self,limit):
        self.previous = 0
        self.current = 1
        self.n = 1
        self.limit = limit
        
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.n < self.limit:
            next_no = self.previous + self.current
            self.previous = self.current
            self.current = next_no
            self.n = self.n + 1
            return next_no
        else:
            print("Limit reached")
            raise Exception
series = iter(fibonacci(10))
while True:
    try:
        print(next(series))
    except Exception as e:
        print("Finish")
        break

1
2
3
5
8
13
21
34
55
Limit reached
Finish

Creating fibonacci using generator

In [3]:
def fibo():
    a,b = 0,1
    while True:
        yield a
        # a =b
        # b a+b
        a,b = b, a+b
        
for f in fibo():
    if f>50:
        break
    print(f)

0
1
1
2
3
5
8
13
21
34

Exercise: Decorators
1.Create a decorator function to check that the argument passed to the function factorial is a non-negative integer:
2.Create a factorial function which finds the factorial of a number.
3.Use the decorator to decorate the factorial function to only allow factorial of non-negative integers.

In [14]:
import sys
def check_nonNeg(fun):
    def wrapper(a):
        if a<0:
            print("negative integer cannot find factorial")
            sys.exit()
        else:
            r = fun(a)
        return r
    return wrapper
        

@check_nonNeg
def factorial(number):
    result = 1
    while number>0:
        result = result * number
        number = number -1
    return result

n = int(input("Enter any integer number for its factorial"))
factorial(n)

Enter any integer number for its factorial-2
negative integer cannot find factorial

SystemExit:

C:\Users\Jay\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3445: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

Multithreading calculating cude and squares

In [5]:
import time
import threading

def square(nums):
    for i in nums:
        time.sleep(0.2)
        print("square", i*i)
        
def cude(nums):
    for i in nums:
        time.sleep(0.2)
        print("cude",i*i*i)

arr = [2,3,4,5]
# calling it normally
start_t = time.time()
square(arr)
cude(arr)
end_t = time.time()
print("time taken is" ,start_t-end_t)

# now multithreading

st = time.time()

t1 = threading.Thread(target=square,args=(arr,))
t2 = threading.Thread(target=cude,args=(arr,))

t1.start()
t2.start()

t1.join()
t2.join()

et= time.time()

print("multitread time taken is",st-et)

square 4
square 9
square 16
square 25
cude 8
cude 27
cude 64
cude 125
time taken is -1.6374397277832031
square 4
cude 8
cudesquare 27
 9
squarecude 64
 16
squarecude 125
 25
multitread time taken is -0.8262045383453369

1.Create any multithreaded code using for loop for creating multithreads
for i in range(10):
    th = Thread(target=func_name, args=(i, ))
    
2.print total active threads in multithreaded code using threading.active_count()

In [19]:
import google
import time
import threading
from googlesearch import search

def google_search(arr):
    for j in search(arr, tld="co.in", num=10, stop=10, pause=2):
        print(j)
    
search_list=["youtube","facebook","yahoo","twitter","instagram","telegram"]
a="a"
b="b"
c="c"
# for i in search_list:
#     th= threading.Thread(target=google_search,args=(i,))

start_time = time.time()
google_search(a)
google_search(b)
google_search(c)
end_time = time.time()
print("Time take for normal execution - ",start_time-end_time)
st = time.time()

t1 = threading.Thread(target=google_search,args=(a,))
t2 = threading.Thread(target=google_search,args=(b,))
t3 = threading.Thread(target=google_search,args=(c,))

t1.start()
t2.start()
t3.start()
t1.join()
t2.join()
t3.join()

et= time.time()
print("Time taken for multithread execution -",st-et)

https://en.wikipedia.org/wiki/A
https://en.wikipedia.org/wiki/A_(disambiguation)
https://en.wikipedia.org/wiki/Italic_type
https://en.wikipedia.org/wiki/Latin_alpha
https://en.wikipedia.org/wiki/Turned_v
https://en.wikipedia.org/wiki/%C3%80
https://en.wiktionary.org/wiki/a
https://www.dictionary.com/browse/a
https://www.merriam-webster.com/dictionary/a
https://www.collinsdictionary.com/dictionary/english/a
https://en.wikipedia.org/wiki/B
https://people.com/music/cardi-b-speaks-out-after-being-awarded-additional-3-million-in-slander-lawsuit-against-youtuber/
https://www.theguardian.com/music/2022/jan/25/cardi-b-awarded-1m-in-damages-libel-tasha-k
https://www.hollywoodreporter.com/business/digital/apple-q1-2022-earnings-1235082244/
https://www.youtube.com/watch?v=rCiBgLOcuKU
https://www.youtube.com/watch?v=CgugkEB-q_Q
https://twitter.com/iamcardib?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor
https://twitter.com/iamcardib/status/1486517015728820229?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Etweet
https://twitter.com/iamcardib/status/1486351871937761281?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Etweet
https://twitter.com/iamcardib/status/1485834062241665028?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Etweet
https://en.wikipedia.org/wiki/C_(programming_language)
https://en.wikipedia.org/wiki/C--
https://en.wikipedia.org/wiki/Dennis_Ritchie
https://en.wikipedia.org/wiki/C17_(C_standard_revision)
https://en.wikipedia.org/wiki/ANSI_C
https://www.youtube.com/watch?v=KJgsSFOSQv0
https://www.tutorialspoint.com/cprogramming/index.htm
https://www.programiz.com/c-programming
https://www.amazon.ca/Programming-Language-2nd-Brian-Kernighan/dp/0131103628
https://en.cppreference.com/w/c/language
Time take for normal execution -  -9.358300924301147
https://en.wikipedia.org/wiki/A
https://en.wikipedia.org/wiki/A_(disambiguation)
https://en.wikipedia.org/wiki/Italic_type
https://en.wikipedia.org/wiki/Latin_alpha
https://en.wikipedia.org/wiki/Turned_v
https://en.wikipedia.org/wiki/%C3%80
https://en.wiktionary.org/wiki/a
https://www.dictionary.com/browse/a
https://www.merriam-webster.com/dictionary/a
https://www.collinsdictionary.com/dictionary/english/a
https://en.wikipedia.org/wiki/C_(programming_language)
https://en.wikipedia.org/wiki/C--
https://en.wikipedia.org/wiki/Dennis_Ritchie
https://en.wikipedia.org/wiki/C17_(C_standard_revision)
https://en.wikipedia.org/wiki/ANSI_C
https://www.youtube.com/watch?v=KJgsSFOSQv0
https://www.tutorialspoint.com/cprogramming/index.htm
https://www.programiz.com/c-programming
https://www.amazon.ca/Programming-Language-2nd-Brian-Kernighan/dp/0131103628
https://en.cppreference.com/w/c/language
https://en.wikipedia.org/wiki/B
https://people.com/music/cardi-b-speaks-out-after-being-awarded-additional-3-million-in-slander-lawsuit-against-youtuber/
https://www.theguardian.com/music/2022/jan/25/cardi-b-awarded-1m-in-damages-libel-tasha-k
https://www.hollywoodreporter.com/business/digital/apple-q1-2022-earnings-1235082244/
https://www.youtube.com/watch?v=rCiBgLOcuKU
https://www.youtube.com/watch?v=CgugkEB-q_Q
https://twitter.com/iamcardib?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor
https://twitter.com/iamcardib/status/1486517015728820229?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Etweet
https://twitter.com/iamcardib/status/1486351871937761281?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Etweet
https://twitter.com/iamcardib/status/1485834062241665028?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Etweet
Time taken for multithread execution - -3.081224203109741

https://www.geeksforgeeks.org/
https://twitter.com/geeksforgeeks?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor
https://twitter.com/geeksforgeeks/status/1486773719389257733?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Etweet
https://twitter.com/geeksforgeeks/status/1486668823310700544?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Etweet
https://twitter.com/geeksforgeeks/status/1486549226611871744?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Etweet
https://twitter.com/geeksforgeeks/status/1486323208836218892?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Etweet
https://ca.linkedin.com/company/geeksforgeeks
https://www.youtube.com/c/GeeksforGeeksVideos/videos
https://www.instagram.com/geeks_for_geeks/?hl=en
https://www.facebook.com/geeksforgeeks.org/